@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
}
header {
    text-align: center;
    padding: 20px;
}
h1 {
    color: #09122C;
}

main {
    text-align: justify;
    line-height: 1.5;   
}

p{
    color: solid black; 
}

ol li a {
    color:blue; 
    text-decoration: none; 
}

ol li a:hover {
    color:darkblue; 
    text-decoration: underline; 
}
 
h6 {
    text-align: center;
    padding: 20px;
}